/* Tipografias, resetear valores css */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  /*THIS FIXES A RANDOM ERROR THAT CAN'T LET YOU SCROLL ON RANDOM SITUATIONS*/
  overflow: visible !important;
  min-width: 100%;
}

body,
html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 16px;
}
#root {
  min-height: 100vh;
  background-color: #dcdcdc;
  /* height: 100vh; */
}
a {
  text-decoration: none;
}

.btn-container {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}
.btn-container:hover {
  cursor: pointer;
}

.btn-container > .btn-icon {
  color: #ffffff;
  font-size: 2rem;
}

.btn-variant-delete {
  background: #ff0000;
}

.btn-variant-edit {
  background: #45b71d;
}

/* Add station */
.card-add-station-container {
  display: flex !important;
  width: 400px !important;
  border: 3px dashed #939393 !important;
  border-radius: 10px !important;
}

/* Appbar */
.appbar-button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  background-color: #46c818;
  color: white;
  font-size: 2rem;
  outline: none;
}
.appbar-button > svg {
  margin-left: 0.6rem;
}
.appbar-button:hover {
  cursor: pointer;
  background-color: #329010;
}

/* Spinner */
.spinner-wrapper {
  min-height: 100vh;
}
